<div class="dialogue-sizing">
  <app-card>
    <app-card-wrapper>
      <div top>
        <img ngSrc="assets/pictures/tank-game-heading.png" alt="title" width="400"
             height="146" priority>
      </div>
      <div content>
        <div class="text-center sm:mx-10">
          Willkommen beim dem legendären Panzer Spiel! Logge dich ein, oder
          <a
            routerLink="/register"
            class="underline cursor-pointer">
            Erstelle einen Account
          </a>
          , wenn du noch keinen hast, und starte ins Spiel!
        </div>

        <div class="mt-4 w-full flex justify-center">
          <div class="sm:w-[80%] w-full">
            <div class="input-container">
              <div class="input-description">Email</div>
              <input type="email" [formControl]="loginFormGroup.controls.email">
            </div>

            <div class="input-container">
              <div class="input-description">Password</div>
              <input type="password" [formControl]="loginFormGroup.controls.password" (keyup.enter)="login()">
            </div>
          </div>
        </div>

        @if (error(); as error) {
          <div class="text-center text-red-500">
            {{ error }}
          </div>
        }

      </div>
      <div bottom class="w-full flex justify-center">
        <button (click)="login()" class="w-[70%]" [disabled]="loginFormGroup.invalid">Login</button>
      </div>
    </app-card-wrapper>
  </app-card>
</div>

