@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

:host {
  display: block;
  background-color: $light-card-color;
  padding: 4px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  border: 3px solid transparent;

  &.selected {
    border: 3px solid $selection-color;
  }

  &.hover {
    &:hover {
      background-color: $light-card-hover-color;
    }
  }
}
