<div class="game-container">
  <canvas #gameCanvas></canvas>
</div>

<app-ingame-score></app-ingame-score>

@if (showError() || showSpinner()) {
  <div class="center-container">
    @if (showError()) {
      <div class="w-full flex justify-center text-red-500">
        <app-chip class="w-[500px] text-center">Error Occurred. Please reload</app-chip>
      </div>
    }
    @if (showSpinner()) {
      <div class="w-full flex justify-center align-center">
        <app-spinner></app-spinner>
      </div>
    }
  </div>
}

@if (youHaveBeenKilled()) {
  <div class="center-container">
    <div class="killed">You have been killed</div>
  </div>
}

@if (gameService.timeUntilGameStarts(); as countdown) {
  <div class="center-container">
    <div class="game-starts">The Game will start in {{ countdown }}</div>
  </div>
}

<router-outlet></router-outlet>
