@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

:host {
  display: block;
  position: relative;
  overflow: hidden;
}


.game-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;


  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}


.center-container {
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: 10;
  @include page-centered
}

.killed {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
  animation: fade-in-out 6s ease-in-out;
  color: $red;

  @include fade-in-out();

}

.game-starts {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
  animation: fade-in-out 6s ease-in-out;
  color: #2c6ec6;

  @include fade-in-out();

}

.chip {
  background-color: rgba(34, 35, 36, 0.86);
  color: white;

}
