<div class="game-container">
  <canvas #gameCanvas></canvas>
</div>

@if (deviceService.isMobile()) {
  <app-joystick></app-joystick>
}

<app-ingame-score></app-ingame-score>

@if (showError() || showSpinner()) {
  <div class="center-container">
    @if (!showSpinner() && showError()) {
      <div class="w-full flex justify-center text-red-500">

        <div class="chip flex flex-col justify-center align-center text-center h-full p-5 rounded">
          <span>You have been disconnected. </span>
          <span>If the game
            still runs you can reload. If not you can leave</span>
        </div>

      </div>
    }
    @if (showSpinner()) {
      <div class="w-full flex justify-center align-center">
        <app-spinner></app-spinner>
      </div>
    }
  </div>
}


@if (youHaveBeenKilled()) {
  <div class="center-container">
    <div class="killed">You have been killed</div>
  </div>
}

@if (gameService.timeUntilGameStarts(); as countdown) {
  <div class="center-container">
    <div class="game-starts">The Game will start in {{ countdown }}</div>
  </div>
}

<router-outlet></router-outlet>
