<div class="page-sizing">
  <app-card>
    <app-page-wrapper [backLabel]="'Spiel verlassen'" [navigateTo]="'/multiplayer'"
                      [headingLabel]="'Game Over'" (leavePage)="leaveGame()">
      <div content>
        @if (winnerTeam()) {
          <div class="flex gap-1 text-xl font-bold">Team
            <div [style]="{color: winnerTeam()?.color}"> {{ winnerTeam()?.name }}</div>
            has won the Game!
          </div>
          @for (team of gameService.teamsWithStats(); track team.id) {
            <app-chip class="mt-1">
              <div class="">
                <div class="font-bold text-lg my-1" [style]="{color: team.color}"> Team {{ team.name }}</div>
                @for (player of team.playerStats; track player.id) {
                  <app-chip class="player-chip">
                    <div class="flex justify-between my-1">
                      <div class="flex-[20%] text-start">{{ player.name }}</div>

                      <div class="flex gap-2 flex-[20%] justify-start align-center">
                        <div>Kills: {{ player.kills }}</div>
                        @for (kill of getKills(player.kills); track kill) {
                          <img ngSrc="assets/icons/tank-icon.svg" width="25" height="25" alt="alive">
                        }
                      </div>

                      <div class="flex gap-2 flex-[20%] justify-start align-center">
                        <div>{{ player.isDead ? 'Dead' : 'Alive' }}</div>
                        <img ngSrc="assets/icons/tank-icon.svg" width="25" height="25" alt="alive"
                             [class.opacity-50]="player.isDead"
                             [class.opacity-100]="!player.isDead">

                      </div>
                    </div>
                  </app-chip>
                }
              </div>
            </app-chip>
          }
        } @else {
          <div class="w-full text-red-500 text-center">The Game is already over. You can leave this Lobby</div>
        }
      </div>

      <div></div>
    </app-page-wrapper>
  </app-card>
</div>
