@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


:host {
  @include page-centered;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

@include page-sizing;

app-card {
  backdrop-filter: blur(2px);
}

.team-chip {
  background-color: rgba(105, 101, 101, 0.36);
  border: 1px solid $button-color-dark;

  &:hover {
    background-color: rgba(105, 101, 101, 0.30);
  }
}

.player-chip {
  background-color: rgba(0, 0, 0, 0.26);
  border: 1px solid $button-color-dark;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
