@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


:host {
  @include page-centered;
  position: fixed;
  top: 0;
  left: 0;
}

@include page-sizing;

app-card {
  backdrop-filter: blur(2px);
}

