@use '../../../styles/variables' as *;

:host {
  display: flex;
  align-items: center;
  background-color: $light-card-color;
  border: solid 1px $border-color;
  border-radius: 3px;
  padding: 5px 20px;
  transition: background-color 0.2s ease-in-out;
  color: beige;

  &:hover {
    background-color: $light-card-hover-color;
  }
}

button {
  background-color: $button-color-dark;

  &:hover {
    background-color: $button-color-dark-hover;
  }
}
