<app-chip>
  <div class="flex gap-3 max-w-full overflow-x-auto">
    @for (tank of selectableTanks(); track tank.id) {
      <app-chip (click)="selectTank(tank.tankType)"
                class="flex justify-center items-center hover cursor-pointer"
                [ngClass]="{selected: selectedTankType() === tank.tankType}">
        <app-tank-icon [size]="70" [color]="tank.color"></app-tank-icon>
      </app-chip>
    }
  </div>

</app-chip>


@if (selectedTank(); as tank) {
  <app-chip class="mt-3" [ngClass]="{'no-hover': true}">
    <div class="font-bold text-xl">{{ tank.name }}</div>

    <app-property-display [propertyName]="'Speed'"
                          [propertyBlocks]="speedDisplay()"></app-property-display>
    <app-property-display [propertyName]="'Health'"
                          [propertyBlocks]="healthDisplay()"></app-property-display>

    <div class="font-bold text-lg">Bullet:</div>
    <app-property-display [propertyName]="'Damage'"
                          [propertyBlocks]="damageDisplay()"></app-property-display>
    <app-property-display [propertyName]="'Speed'"
                          [propertyBlocks]="bulletSpeedDisplay()"></app-property-display>
    <app-property-display [propertyName]="'Bounce'"
                          [propertyBlocks]="bulletBounceDisplay()"></app-property-display>


  </app-chip>
}
