<div class="left">
  @if (teamScoreLeft(); as stats) {
    @for (team of stats; track team.id) {
      <app-team-score [teamData]="team"></app-team-score>
    }

  }
</div>
<div class="center">
  <img ngSrc="assets/pictures/tank-game-heading.png" alt="title" width="200"
       height="73" priority>
  <div class="time">
    @if (gameService.timeSinceGameStarted(); as time) {
      <div> {{ time * 1000 | date:'mm:ss':'UTC' }}
      </div>
    } @else {
      <div>00:00</div>
    }
  </div>

</div>

<div class="right">
  @if (teamScoreRight(); as stats) {
    @for (team of stats; track team.id) {
      <app-team-score [teamData]="team"></app-team-score>
    }

  }
</div>

@if (!isGameOver()) {
  <div class="leave-game">
    <button (click)="leaveGame()">Leave Game</button>
  </div>
}
