@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

:host {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: $light-card-color;
  color: $button-color-dark;
}


.left, .right {
  flex: 35%;
  display: flex;
  margin: 8px 0;

  @media screen and (max-width: 700px) {
    display: none;
  }
}


.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.center {
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid $button-color-dark;
    background-color: $light-card-color;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $button-color-dark;
    font-weight: bold;

    @media screen and (max-width: 700px) {
      font-size: 19px;
    }
  }
}

.leave-game {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;

  button {
    background-color: rgba(218, 41, 41, 0.72);

    &:hover {
      background-color: rgba(234, 21, 21, 0.64);
    }
  }

  @media screen and (max-width: 700px) {
    top: 1px;
    right: 1px;

    button {
      padding: 1px 7px;
    }
  }
}
