<div class="page-sizing">
  <app-card>
    <app-page-wrapper [backLabel]="'Lobby verlassen'"
                      [headingLabel]="'Match Lobby'" (leavePage)="leaveLobby()">

      @if (lobbyService.currentLobby(); as lobby) {
        <div content class="mt-[-20px]">


          <div class="flex gap-10 mt-10">
            <div class="flex-[50%] flex flex-col gap-5">
              <div class=" mr-10">
                @if (lobby.hostUserName === authService.user()?.name) {
                  Du bist in deiner eigenen Lobby.
                } @else {
                  Du bist der Lobby von {{ lobby.hostUserName }}.
                }
                Warte auf weitere Spieler, damit das Spiel starten kann.
              </div>
              <div class="font-bold mt-3">Map:</div>

              <div class="flex flex-row gap-5 align-center">
                <app-map-preview [map]="lobby.gameSettings.mapPreview"
                ></app-map-preview>

              </div>

              <div class="font-bold mt-3">Mode:</div>

              <div class="flex flex-row gap-5 align-center">

                <app-chip [value]="lobby.gameSettings.gameModeOption.name"></app-chip>

              </div>
            </div>


            <div class="flex-[50%] flex flex-col">
              <app-chip>
                <div class="flex justify-between mx-5">
                  <div>
                    <div class="font-bold text-center">Players:</div>
                    <div class="text-center">{{ lobby.joinedPlayers.length }}
                      / {{ lobby.gameSettings.maxPlayersCount }}
                    </div>
                  </div>

                  <div>
                    <div class="font-bold text-center">Teams:</div>
                    <div class="text-center">{{ lobby.gameSettings.numberOfTeams }}</div>
                  </div>

                  <div>
                    <div class="font-bold text-center">Team Size:</div>
                    <div class="text-center">{{ lobby.gameSettings.teamSize }}</div>
                  </div>
                </div>


              </app-chip>
              <div class="font-bold mt-3">Spieler:</div>
              <div class="flex flex-col">
                @for (player of lobby.joinedPlayers; track player.name) {
                  <app-chip class="my-1" [value]="player.name"></app-chip>
                }
              </div>
              @if (lobby.joinedPlayers.length < lobby.gameSettings.maxPlayersCount) {
                <div class="text-center mt-5">Warte auf weitere Spieler...</div>
              } @else {
                <div class="text-center mt-5">Bereit zum Starten!</div>
              }
            </div>
          </div>
        </div>


      }

      @if (isLoading()) {

        <div content>isLoading</div>
      }

      @if (error()) {
        <div content> {{ error() }}</div>
      }

    </app-page-wrapper>
  </app-card>
</div>
