<div class="flex justify-center mt-[-20px] mb-3">
  <img ngSrc="assets/pictures/tank-game-heading.png" width="400"
       height="146.5"
       alt="Tank Game Multiplayer" priority>
</div>

<div class="flex gap-4">
  <button (click)="navigate()" class="flex justify-center align-center gap-2 flex-[30%] ">
    <img ngSrc="assets/icons/arrow-left.svg" alt="back" width="24" height="24">
    <div class="hidden md:block">{{ backLabel() }}</div>
  </button>

  <div class="flex-[60%] text-center font-bold text-3xl">
    {{ headingLabel() }}
  </div>

  <div class=" flex-[30%]"></div>
</div>

<div class="content">
  <ng-content select="[content]"></ng-content>

</div>

<div class="bottom-row">
  <ng-content select="[bottom]"></ng-content>
</div>
