@use 'variables' as *;

@mixin page-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@mixin page-sizing {
  .page-sizing {
    width: min(90%, 900px);
    max-height: min(90%, 900px);
    overflow: auto;

    @media screen and (max-width: 700px) {
      width: 95%;
    }
  }
}

@mixin dialogue-sizing {
  .dialogue-sizing {
    width: min(90%, 700px);
    max-height: min(90%, 900px);
    overflow: auto;

    @media screen and (max-width: 700px) {
      width: 95%;
    }
  }


}

@mixin tank-bg-picture {
  background-image: url("/assets/pictures/tank-game-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }

  @supports (-webkit-touch-callout: none) {
    background-attachment: scroll;
    min-height: -webkit-fill-available;
  }
}

@mixin fade-in-out {
  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
