@use 'variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --button-color: #{$button-color};
  --primary-text-color: #{$primary-text-color};
  --secondary-text-color: #{$secondary-text-color};
  --border-color: #{$border-color};
  --overlay-color: #{$overlay-color};
  --overlay-color-hover: #{$overlay-color-hover};
  --button-hover-color: #{$button-hover-color};
  --button-color-dark: #{$button-color-dark};
  --button-color-dark-hover: #{$button-color-dark-hover};
  --selection-color: #{$selection-color};
  --light-card-color: #{$light-card-color};
  --light-card-hover-color: #{$light-card-hover-color};
}

html {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

body, {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-color;
  color: $secondary-text-color;
  line-height: 1.5;
  font-size: 16px;
  user-select: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 12px 0;
}

.input-description {
  font-size: 14px;
  color: $secondary-text-color;
  margin-top: -5px;
  margin-left: 10px;
}

input {
  background-color: $overlay-color;
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-size: 16px;
  color: $primary-text-color;
  padding: 3px 10px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(76, 73, 64, 0.55);
  }
}

button {
  background-color: $button-color;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: $primary-text-color;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $button-hover-color;
  }

  &:disabled {
    background-color: rgba(41, 40, 35, 0.55);
  }
}


input:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  height: 6px; /* Höhe für horizontale Scrollbar */
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}


