$primary-color: rgb(228, 214, 173);
$secondary-color: rgb(207, 176, 120);
$tertiary-color: rgb(211, 174, 131);

$primary-text-color: rgb(0, 0, 0);
$secondary-text-color: rgb(49, 49, 61);

$border-color: rgba(0, 0, 0, 0.50);

$overlay-color: rgba(0, 0, 0, 0.20);
