<div class="page-sizing">
  <app-card>
    <app-page-wrapper [backLabel]="'Zurück'"
                      [headingLabel]="level()?.name ?? 'Level'"
                      (leavePage)="router.navigate(['/singleplayer'])"
    >
      @if (level(); as level) {
        <div content class="mt-[-20px]">
          <div class="flex flex-col md:flex-row gap-10 mt-10">
            <div class="flex-[30%] flex flex-col gap-1">
              <div class=" mr-10">
                Wähle einen Panzer aus mit dem du spielen möchtest und starte das Spiel.
              </div>
              <div class="font-bold mt-2">Map:</div>

              <div class="flex flex-row gap-5 align-center">
                <app-map-preview [map]="level.mapPreview"
                ></app-map-preview>
              </div>

              <div class="font-bold ">Enemy Tanks:</div>
              <app-chip>

                <div class="flex gap-3 mx-2">
                  @for (tank of level.enemyTeamTankPreview; track tank.tankType) {
                    <div class="flex text-md justify-center items-end  gap-1">
                      <div>{{ tank.count }}</div>
                      <app-tank-icon [color]="tank.color" [size]="25"></app-tank-icon>
                    </div>
                  }
                </div>
              </app-chip>
            </div>

            <div class="flex-[70%] flex flex-col ">
              <div class="font-bold ">Select Your Tank:</div>
              <app-tank-selection [selectableTanks]="level.selectableTanks"
                                  (updateSelectedTank)="selectedTankType.set($event)"></app-tank-selection>

            </div>
          </div>

          <div class="flex flex-row-reverse mt-3">

            <button (click)="startGame()" class="w-[200px]">Start Game</button>
          </div>
        </div>


      }

      @if (loadingSate() === 'loading') {

        <div content class="text-center m-10">
          <app-spinner></app-spinner>
        </div>
      }

      @if (loadingSate() === 'error') {
        <div content class="text-center m-10 text-red-500"> {{ error() }}</div>
      }

    </app-page-wrapper>
  </app-card>
</div>
